<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    	<title>Time for Tea?</title>
	<meta http-equiv="refresh" content="1; url=/" />
</head>
<body style="background-image:url(static/second.jpg);background-size: 100%;">

<p><span style="position: fixed;  top: 50%;  left: 50%; transform: translate(-50%, -50%);
font-family:cursive;font-size:100px;font-style:normal;font-weight:normal;text-decoration:none;text-transform:none;color:#470047;background-color:#00adef">
The kettle is boiling</span>
</p>

</form>

</body>
</html>
