<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Time for Tea?</title>
</head>
<body style="background-image:url(static/teapot.jpg);background-size: 100%;">

<form action="/time-for-tea" align="center">
    <input type="submit" value="Time for Tea?" style="margin: 0;    
    position: absolute;
    top: 60%;
    left: 45%;
    margin-right: -55%;
    transform: translate(-50%, -50%);
background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;">
</form>

</body>
</html>
